@charset "UTF-8";


:root {
    --cor-primaria: #1170ff;
    --cor-primaria-hover: #2b80ff;
    --cor-secundaria: #fff;

    --background-secundario: #dbdbdb;
    --background-secundario-soft: #dddee0;
    --background-body: #1a1b1b;
    --background-primario: #292b2c;
    --background-primario-soft: #3d4142;
}

nav {
    width: 100%;
    outline: 3px solid #c4c4c473;
    background-color: var(--background-primario);
    color: var(--cor-secundaria);
    position: sticky;
    left: 0;
    top: 0;
    z-index: 101;
}

.material-symbols-sharp {
    font-size: 36px;
}

.bem_vindo_bv {
    font-size: 1.6em;
    display: block;
    line-height: 1em;
    color: var(--cor-secundaria);
}

.hero {
    position: relative;
    padding: 14px;
    border-bottom: 3px solid #c4c4c4;
    min-height: 360px;
    overflow: hidden;
}

.hero::before {
    box-shadow: inset 2px -4px 14px rgba(0, 0, 0, 0.527);
    position: absolute;
    content: "";
    background-color: var(--background-primario-soft);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
    background-image: url(../imagens/back/livros_acima_de_uma_mesa.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bem_vindo_univ {
    color: var(--cor-primaria);
    font-size: 1.2em;
    padding-left: 8px;
    line-height: 1.5em;
    display: block;
}

.bem_vindo_literario {
    display: block;
    line-height: 1em;
    font-size: .8em;
    color: var(--cor-secundaria);
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
    color: var(--cor-secundaria);
    font-family: "Oswald", serif;
    text-shadow: 1px 1px 4px #000;
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
}

nav h1 .navU {
    color: var(--cor-primaria);
}

nav h1 {
    font-size: 3em;
}

html {
    background-color: var(--background-body);
}

.big_aspas {
    font-size: 4em;
    font-family: "Oswald", sans-serif;
}

body {
    position: relative;
    color: var(--background-secundario);
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-primario);
}

main {
    background-color: var(--background-primario-soft);
    box-shadow: 2px 4px 6px #00000059;
    margin: auto;
    max-width: 768px;
}

.sect1 {
    background-image: url(../imagens/back/livro_com_flor_e_tom_cinza.webp);
    margin-top: 90px;
    box-shadow: inset 0px -4px 6px #00000088;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.sect1 div {
    padding: 12px;
    max-width: 280px;
    background-color: #0000009d;
}

.sect1 h3 {
    padding: 10px 0;
    font-family: "Open Sans", sans-serif;

    text-transform: none;
    display: block;
}

.sect2 {
    margin: 64px 12px;
}

.sectLiv {
    display: grid;
    flex-wrap: wrap;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-columns: 1fr;
    gap: 14px;
    row-gap: 26px;
    padding: 24px;
}

.descr {
    padding: 12px;
}

.descr p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.livro {
    background-color: #474D52;
    border-end-start-radius: 8px;
    border-end-end-radius: 8px;
    box-shadow: 1px 2px 8px #0000004A;
}

.livro .sobreLiv {
    padding: 0;
    margin: auto;
}

.sobreLiv img {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 100%;
    flex-basis: 120px;
}

.descrButtons {
    margin: 12px 0;
    display: flex;
    flex: 1 0 120px;
    flex-flow: row wrap;
}

.descrButtons button {
    margin: 6px 0;
}

.livro .prevButton {
    width: 100%;
    padding: 8px 0;
    background-color: #b4b4b418;
    border-radius: 6px;
    border: 2px solid #b4b4b46b;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: bold;
    color: #fff;
    display: block;
    transition: background-color .3s ease;
}

.livro .prevButton:hover {
    background-color: #b4b4b43f;
}

.livro .buyButton {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 8px 0;
    background-color: #04b304;
    border-radius: 8px;
    border: 2px solid #65df65;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 1.15em;
    font-weight: bold;
    color: #fff;
    display: block;
    transition:
        background-color .5s ease,
        box-shadow .3s ease,
        transform .3s ease;
}

.livro .buyButton:hover {
    background-color: #1dd31d;
}

.livro {
    padding: 0;
    margin: auto;
}


.sect2 h2 {
    display: inline-block;
}

.sect2 .big_aspas {
    line-height: .01em;
    display: inline;
    color: grey;
}

section .content-1 {
    padding: 14px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 8px;
}

.intro {
    background-color: #7979792d;
    box-shadow: 0px 0px 8px #ffffff77;
    padding: 22px;
    font-size: 1.2em;
    margin: auto;
}

* {
    z-index: 1;
    inset: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay {
    transition: all .3s ease;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    transform: translateY(750px);
    position: fixed;
    opacity: 0;
    z-index: 102;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000063;
}

.overlay.show {
    transform: translateY(0px);
    opacity: 1;
}

.bookPrevClass {
    max-width: 768px;
    margin: auto;
    overflow: auto;
    transition: transform .3s ease;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    position: fixed;
    z-index: 103;
    width: 100%;
    height: 60%;
    background-color: #474D52;
    /* transform: translateY(300px); */
}

.bookPrevClass.show {
    /* transform: translateY(0px); */
}

.bookPrevClass::-webkit-scrollbar {
    display: block;
    width: .8rem;
}

.bookPrevClass::-webkit-scrollbar-button {
    display: block;
    height: 8px;
    border-top-right-radius: 100%;
}

.bookPrevClass::-webkit-scrollbar-thumb {
    background-color: #8a8a8ac0;
    border-radius: 100px;
}

.bookPrevClass img {
    width: 60%;
    display: block;
    margin: auto;
}

.bookPrevClass>.prevLink {
    transition: all .3s ease;
    text-decoration: none;
    color: #d0ffd0;
    text-align: center;
    margin: 18px 0;
    font-size: 1.6em;
}

.bookPrevClass>.prevLink a {
    text-decoration: underline;
    font-size: 1.2em;
    color: #d0ffd0;
}

.bookPrevClass a:hover {
    color: #beffbe;
}


.bookPrevClass {
    padding: 30px;
}

.bookPrevClass p {
    font-size: 1.1em;
}









@media screen and (min-width: 481px) and (max-width: 768px) {
    .sectLiv {
        grid-auto-columns: auto;
        grid-auto-rows: auto;
        margin: auto 14%;
    }


    .sect1 {
        background-image: url(../imagens/back/livro_com_flor_e_tom_cinza.webp);
        box-shadow: inset 0px -4px 6px #00000088;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .sect1 div {
        max-width: 340px;
    }

    .livro {
        margin: auto;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: 10px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.384);
    }

    .livro .sobreLiv {
        display: flex;
        flex-wrap: wrap;

        padding: 0;
        margin: auto;
    }

    .sect1 h3 {
        padding: 12px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1444px) {
    .sectLiv {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1444px) {
    .sectLiv {
        grid-template-columns: 1fr 1fr 1fr;
    }
}